{% extends 'main/base.html' %}

{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">
                        Тема сообщения: {{object.theme}}
                    </h4>
                </div>
                <div class="card-body">
                    <p>
                        {{object.message}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}